html {
    height: 100%;
}

body {
    border-radius: 5px;
    height: 100%;
    margin: 0px;


    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    width: 100%;
    height: 100%;
    background: #ddebf8;


    border-bottom: #d8cefe solid 6px;
    border-radius: 5px;

    color: #2b2839;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.Nick-img {
    width: 20vw;
    height: 20vw;
    margin-top: 10vw;
    display: block;
}